* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar_wrapper {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.navbar_wrapper .navbar {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.navbar_wrapper .navbar .navbar_left a {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar_wrapper .navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar_wrapper .navbar ul li {
  display: inline-block;
}

.navbar_wrapper .navbar ul li a {
  text-decoration: none;
}

.navbar_wrapper .navbar ul li {
  font-size: 14px;
  font-weight: 700;
  margin-left: 45px;
}

.navbar_wrapper .navbar ul a:not(.button) {
  color: #58402c;
  transition: 0.4s ease;
}

.navbar_wrapper .navbar ul a i {
  margin-left: 10px;
}

.navbar_wrapper .navbar ul a:hover {
  color: #30488f;
}

.navbar_wrapper .navbar ul .button {
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  padding: 0 20px;
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  border: 1px solid #30488f;
  transition: 0.5s ease;
}

.navbar_wrapper .navbar ul .button span {
  padding-left: 10px;
  font-weight: 700;
  color: #30488f;
}

.navbar_wrapper .navbar ul .button:hover {
  background-color: #30488f;
}

.navbar_wrapper .navbar ul .button:hover span {
  color: white;
}

.navbar_wrapper .navbar ul .button:hover path {
  fill: white;
}

.presentation_wrapper {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.presentation_wrapper .presentation {
  margin: 100px 0;
  width: 100%;
}

.presentation_wrapper .presentation .presentation_left {
  float: left;
  width: 45%;
}

.presentation_wrapper .presentation .presentation_left h1 {
  font-size: 50px;
  color: #58402c;
  margin-bottom: 30px;
}

.presentation_wrapper .presentation .presentation_left p {
  font-size: 22px;
  color: #58402c;
  line-height: 1.6;
  margin-bottom: 30px;
}

.presentation_wrapper .presentation .presentation_left .signin_buttons {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.presentation_wrapper .presentation .presentation_left .signin_buttons > span {
  color: #bdb5af;
  font-size: 13px;
  margin: 0 20px;
}

.presentation_wrapper .presentation .presentation_left .signin_buttons .button {
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  padding: 0 20px;
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #30488f;
  transition: 0.4s ease;
}

.presentation_wrapper .presentation .presentation_left .signin_buttons .button:hover {
  background-color: #263566;
}

.presentation_wrapper .presentation .presentation_left .signin_buttons .button span {
  padding-left: 10px;
}

.presentation_wrapper .presentation .presentation_left .signin_other a {
  text-decoration: none;
  color: #58402c;
  font-size: 14px;
  font-weight: 400;
  transition: 0.4s ease;
}

.presentation_wrapper .presentation .presentation_left .signin_other a i {
  padding-left: 6px;
  font-size: 18px;
  vertical-align: middle;
}

.presentation_wrapper .presentation .presentation_left .signin_other a:hover {
  color: #30488f;
}

.presentation_wrapper .presentation .presentation_right {
  float: left;
  width: 55%;
  text-align: right;
}

.presentation_wrapper .presentation .presentation_right img {
  width: 90%;
}

.presentation_wrapper .presentation:after {
  content: "";
  display: table;
  clear: both;
}

