@mixin v_center {
	display: flex;
	align-items: center;
}

.navbar {
	height: 75px;
	background-color: white;

	.navbar_wrapper {
		@include wrapper;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: 20px 0;
		border-bottom: 1px solid lightgrey;

		.navbar_left {
			.navbar_logo {
				@include v_center;
				height: 100%;
			}
		}

		.navbar_right {

			.navbar_menu {
				@include inline_list;
				@include v_center;

				.menu_item {
					font-size: $navbar_item_font_size;
					font-weight: $navbar_item_weight;
					margin-left: 45px;

					.link {
						&:not(.button) {
							color: $navbar_item_text_color;
							transition: .4s ease;
						}

						&:hover {
							color: $navbar_item_hover_color;
						}

						.link_icon {
							margin-left: 10px;
						}
					}
				}
			}
		}

		.button {
			@include common_button;
			border: 1px solid $button_bg;
			transition: .5s ease;

			.button_text {
				padding-left: 10px;
				font-weight: $navbar_item_weight;
				color: $button_bg;
			}

			&:hover {
				background-color: $button_bg;

				& .button_text {
					color: white;
				}

				& path {
					fill: white;
				}
			}
		}
	}

	&.scrolled {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 55px;
		border-bottom: 1px solid lightgrey;
		box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .08);

		.navbar_wrapper {
			border-bottom: none;
		}

		.button {
			background-color: $button_bg;

			& .button_text {
				color: white;
			}

			& path {
				fill: white;
			}

			&:hover {
				background-color: $button_bg_hover;
			}
		}
	}
}