.presentation_wrapper {
	@include wrapper;

	.presentation {
		margin: 100px 0;
		width: 100%;

		& .presentation_left {
			float: left;
			width: 45%;
			$margin_bt: 30px;

			h1 {
				font-size: $big_title_size;
				color: $big_title_color;
				margin-bottom: $margin_bt;
			}

			p {
				font-size: $font_medium;
				color: $big_title_color;
				line-height: 1.6;
				margin-bottom: $margin_bt;
			}

		}

		& .presentation_right {
			float: left;
			width: 55%;
			text-align: right;

			img {
				width: 90%;
			}
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
}