//wrapper
$max_width: 1150px;

//pulsanti
$button_font_size: 14px;
$button_font_weight: 400;
$button_height: 36px;
$button_padding_lr: 20px;
$button_font_color: white;
$button_border_radius: 6px;
$button_bg: #30488f;
$button_bg_hover: #263566;

//elementi menu navbar
$navbar_item_font_size: 14px;
$navbar_item_weight: 700;
$navbar_item_text_color: #58402c;
$navbar_item_hover_color: #30488f;
